{% include '../base.html' %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontdesk/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontdesk/docDetails.css' %}">
    <title>Doctor Details</title>
</head>
<body>
    <div class="top-buttons">
        <div class="button-left col-md-2">Doctor Login</div>
        <span class="col-md-3"></span>
        <div class="button-center col-md-2">Schedule Appointment</div>
        <span class="col-md-3"></span>
        <div class="button-right col-md-2">EMERGENCY!</div>
    </div>
    <div class="container" style="padding-top:5%;">
        <div class="card card-1">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{doctor.doctor_name}}</h2>
                    {% block availability %}<span class="available">Available</span>{% endblock %}<br><br>
                    <p>Specialisation: {{doctor.doctor_specialisation}}</p>
                    <p>Timings: {{doctor.doctor_shift_slot1_from}} - {{doctor.doctor_shift_slot1_to}} & {{doctor.doctor_shift_slot2_from}} - {{doctor.doctor_shift_slot2_to}}</p> 
                </div>
                <div class="col-md-2"><img src="../../static/images/redcross.png" alt="+"></div>
                <div class="col-md-5">
                    {% block patient %}
                        {% if doctor.doctor_availability %}
                            <!-- <form action="{% url 'frontdesk:doctorBusy' doctor.id %}" method="POST"> -->
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_p}}<br>
                                {{form_1.as_p}}
                                <!-- <h2><input type="text" name='patient_name' id="patient_name" placeholder="Patient Name"></h2><br>
                                <div class="patient_details">
                                    <input type="checkbox" name="patient_new" id="patient_new"> Returning Patient<br>
                                    <input type="radio" name="patient_state" value="Normal" id="patient_state"> Normal
                                    <input type="radio" name="patient_state" value="Need_Attention" id="patient_state"> Needs Attention
                                    <input type="radio" name="patient_state" value="Critical" id="patient_state"> Critical<br>
                                    <p>Age: <input type="number" name="patient_age"><br></p>
                                    <p>DoB: <input type="date" name="patient_dob"></p>
                                </div>
                                <div class="appointment_details">
                                    <input type="text" placeholder="Reason for appointment" id="appointment_reason"><br>
                                    <input type="date" name="appointment_date" id="appointment_date">
                                    <input type="time" name="appointment_time" id="appointment_time">
                                </div><br> -->
                                <input type="submit" value="Fix Appointment">
                            </form>
                        
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>